.mainDiv {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #fffef2;
}

.leftContainer {
  height: 100%;
  width: 70%;
}

.firstLeftTriangle, .secondLeftTriangle,
.thirdLeftTriangle {
  border-top: 127px solid transparent;
  border-bottom: 136px solid transparent;
}

.firstLeftTriangle {
  margin-top: 7px;
  border-left: 385px solid rgb(0, 0, 0);
}

.secondLeftTriangle {
  border-left: 385px solid #6f1d1b;
}

.thirdLeftTriangle {
  border-left: 385px solid rgb(0, 0, 0);
}

.middleContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titleMidlleContainer {
  height: 10%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dicesMiddleContainer {
  height: 73%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #30532b;
  border-radius: 50%;
  gap: 10px;
}

.rightContainer {
  height: 100%;
  width: 70%;
}

.firsrightTriangle, .secondrightTriangle,
.thirdrightTriangle {
  border-top: 127px solid transparent;
  border-bottom: 135px solid transparent;
}

.firsrightTriangle {
  margin-top: 7px;
  border-right: 385px solid rgb(0, 0, 0);
}

.secondrightTriangle {
  border-right: 385px solid #6f1d1b;
}

.thirdrightTriangle {
  border-right: 385px solid rgb(0, 0, 0);
}